
$headfont:4vw "Helvetica Neue", Helvetica, Arial;
$requestfont:1vw Helvetica,Arial;



#textbox4{
  display:inline;
  width:30vw;
  height: 7vw;
  background-color: white;
  margin-left: 2vw;
}
.pcode{
  margin:0;
  font-family: $requestfont;
  position:relative;
  left:1vw;
}
.pcode2{
  position:relative;
  font-family: $requestfont;
  left:1vw;
}
.oldtext{
  margin-left: 2vw;
  margin-bottom: 0;
  font-size: 1.5vw;
  font-style: italic;
}
#mapheader{
  font: 2vw "Helvetica Neue", Helvetica, Arial; 
  text-align: center;
}
.headtext2{
  font: 2vw "Helvetica Neue", Helvetica, Arial; 
  text-align: center;
}
.headtext {
  font: 2vw "Helvetica Neue", Helvetica, Arial; 
  text-align: center;
}
.todaysdate{
  border-color: red;
  border-style: solid;
  text-align: center;
  font-size: 2vw;
}
.textbox{
  width:30vw;
  height:10vw;
  position: relative;
  display:inherit;
  left:3vw;
  font-size: 1vw;
  font-family: Arial;
  margin-bottom: 1vw;
}
#formpage{
  font-size: 1.5vw;
}
.calMonth{
  font: 3vw "Helvetica Neue", Helvetica, Arial; 
  text-align: center;
}
